  <div class="footer">
    <div class="content">
      <p>
        {{ site.data.profile.name }}
        <br />
        <a href="mailto:herry13@gmail.com"><i class="fa fa-envelope">&nbsp;&nbsp;</i>{{ site.data.profile.email.home }}</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/{{ site.data.profile.github }}"><i class="fa fa-github">&nbsp;&nbsp;</i>github.com/{{ site.data.profile.github }}</a><br />
        <a href="http://linkedin.com/in/{{ site.data.profile.linkedin }}"><i class="fa fa-linkedin">&nbsp;&nbsp;</i>linkedin.com/in/{{ site.data.profile.linkedin }}</a><br />
        <a href="http://twitter.com/{{ site.data.profile.twitter }}"><i class="fa fa-twitter">&nbsp;&nbsp;</i>twitter.com/{{ site.data.profile.twitter }}</a><br />
        <a href="{{ site.data.profile.googlescholar }}"><i class="fa fa-graduation-cap">&nbsp;</i>google scholar</a>
      </p>
    </div>
  </div>
</div>

<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>

</body>
</html>
