---
title: The color of my history.
---

<div id="about">
  <img src="{{ site.baseurl }}/images/me_at_skye.png" />
  <div class="section">
    In 2015, I received a <b>PhD</b> degree in informatics from the <b>University of Edinburgh</b>. Previously, I received <b>BSc</b> and <b>MSc</b> degrees in computer science from <b>Universitas Indonesia</b>. I am currently a <b>research scientist/engineer</b> in <b>Hewlett-Packard Labs</b> in Bristol, United Kingdom, focusing on developing a <b>reliable</b>, <b>trusted</b>, and <b>intelligent system configuration management for large scale distributed system</b>.
  </div>

  <div class="section">
    <h1>achievements</h1>
    <ul>
      <li>PhD full scholarship from HP Labs Innovation Research Program award</li>
      <li>Finalist (top 5 in category <i>Connected World</i>) of the UK ICT Pioneers Competition 2014 organised by <a href="http://www.epsrc.ac.uk/newsevents/news/ukictpioneers2014">EPSRC UK</a></li>
      <li>Internship scholarship from SICSA Postgraduate Industry Internship Programme</li>
      <li>Best student paper at the 25th Large Installation Systems Administration Conference (LISA'11) 2011, for the paper: <i>Automated Planning for Configuration Changes</i></li>
    </ul>
  </div>

  <div class="section">
    <h1>selected publications</h1>
    <ul class="posts">
      {% for pub in site.data.publications.papers %}
      {%   if pub.selected                        %}
        <li>
          <span class="title">{{ pub.title }}</span>
          {% for link in pub.links %}
          [<a href="{{ link.url }}">{{ link.title }}</a>]
          {% endfor %}
          <br />
          {{ pub.booktitle }}, {{ pub.year }}<br />
          {{ pub.author }}
        </li>
      {%   endif %}
      {% endfor  %}
    </ul>
    <p>My other publications can be found <a href="https://scholar.google.co.uk/citations?user=EApX7i4AAAAJ&hl=en">here</a>.</p>
  </div>

</div>
